section {

    h5 {
        letter-spacing: 3px;
    }

    h4 {
        letter-spacing: 4px;
        font-weight: 700;
    }

    p {
        font-family: 'Quicksand', Arial, sans-serif;
        line-height: 2.5;
        color: #000000b3;

        span {
            font-size: 20px;
            font-weight: 700;
        }
    }

    .card {
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, .1);
        border: none;
        padding: 40px 0 50px 44px;
        height: 200px;

       

        p {
            font-size: 1.3em;
        }
    }
}