<section class="px-5">
    <div>
        <div class="row">
            <!-- <div class="col-md-1"></div> -->
            <div class="col-md-10 offset-1">
                <div>

                    <h5 class="text-muted pt-3">ABOUT US</h5>
                    <h4 class="py-5">WHO AM I?</h4>
                    <p>
                        <span>Hi Im Jackson Ford</span>
                        On her way she met a copy. The copy warned the Little Blind Text, that where it came from it
                        would have been rewritten a thousand times and everything that was left from its origin would be
                        the word (and) and the Little Blind Text should turn around and return to its own, safe country.
                    </p>
                    <p>
                        Even the all-powerful Pointing has no control about the blind texts it is an almost
                        unorthographic life One day however a small line of blind text by the name of Lorem Ipsum
                        decided to leave for the far World of Grammar.
                    </p>
                </div>
                <div class="cards">
                    <div class="row">
                        <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 mt-4" *ngFor="let card of cards">
                            <div  class="card  rounded-0 text-left" [ngStyle]="{'border-bottom': '3px solid ' + card.color}">
                             <div ></div>
                                <i [style.color]="card.color" [class]="card.icon" ></i>
                                <p>{{card.title}}</p>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
