section {
    h5 {
        letter-spacing: 4px;
    }

    h4 {
        letter-spacing: 6px;
    }
    button{
        color: black;
    }

    .active {
        background-color: transparent;
        color: #0d6efd;
    }
}