<section>
    <div>
        <div class="card p-4 mt-5 border-0 bg-light">
            <h3>Full Stack Developer <span class="text-muted">2017-2018</span> </h3>
            <p class="description">Tolerably earnestly middleton extremely distrusts she boy now not. Add
                and offered prepare
                how cordial two <br> promise. Greatly who affixed suppose but enquire compact prepare all
                put.
                Added forth chief trees but rooms <br> think may.
            </p>
        </div>
        <div class="card1 p-4 mt-5 border-0 bg-light">
            <h3>Front End Developer at Google Company <span class="text-muted">2017-2018</span> </h3>
            <p class="description">Even the all-powerful Pointing has no control about the blind texts it is an almost
                unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to
                leave for the far World of Grammar.
            </p>
        </div>
        <div class="card2 p-4 mt-5 border-0 bg-light">
            <h3>System Analyst<span class="text-muted">2017-2018</span> </h3>
            <p class="description">Even the all-powerful Pointing has no control about the blind texts it is an almost
                unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to
                leave for the far World of Grammar.
            </p>
        </div>
        <div class="empty-round p-4 mt-5 ">
            
        </div>
    </div>
</section>