<section>
    <div class="row">
        <div class="col-md-6">
            <div class="skills-percentage mt-4">
                <div class="title">Photoshop</div>
                <div class="progress-after">
                    <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow=""
                        aria-valuemin="0" aria-valuemax="10">
                        <div class="progress-bar " style="width:75%"></div>
                    </div>
                </div>
            </div>

            <div class="skills-percentage mt-4">
                <div class="title">HTML5</div>
                <div class="progress-after1">
                    <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow=""
                        aria-valuemin="0" aria-valuemax="10">
                        <div class="progress-bar " style="width:85%"></div>
                    </div>
                </div>
            </div>

            <div class="skills-percentage mt-4">
                <div class="title">WordPress</div>
                <div class="progress-after2">
                    <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow=""
                        aria-valuemin="0" aria-valuemax="10">
                        <div class="progress-bar " style="width:70%"></div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-6">

            <div class="skills-percentage mt-4">
                <div class="title">jQuery</div>
                <div class="progress-after3">
                    <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow=""
                        aria-valuemin="0" aria-valuemax="10">
                        <div class="progress-bar " style="width:60%"></div>
                    </div>
                </div>
            </div>
            
            <div class="skills-percentage mt-4">
                <div class="title">CSS3</div>
                <div class="progress-after4">
                    <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow=""
                        aria-valuemin="0" aria-valuemax="10">
                        <div class="progress-bar " style="width:90%"></div>
                    </div>
                </div>
            </div>
            <div class="skills-percentage mt-4">
                <div class="title">SEO</div>
                <div class="progress-after5">
                    <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow=""
                        aria-valuemin="0" aria-valuemax="10">
                        <div class="progress-bar " style="width:80%"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>