<!-- <nav data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample"
    class="navbar bg-light  p-0  m-0 navbar-expand-lg  ">
    <div class="container-fluid  flex-column">

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa-solid fa-grip-lines"></i>
        </button>
     

        <div class="collapse navbar-collapse text-center flex-column" id="navbarSupportedContent">
            <div class="navbar-brand ">
                <div class="side-img"></div>
            </div>
            <div class="about-me">
                <h1 fw-5>Jackson Ford</h1>
                <p> <span class="text-primary">UI/UX/Designer</span> in Philippines</p>
            </div>
            <ul class="navbar-nav flex-column mb-2 mb-lg-0">
                <li class="nav-item" routerLink="/home">
                    <a routerLinkActive="active-nav" class="nav-link" aria-current="page">Home</a>
                </li>
                <li class="nav-item" routerLink="/about">
                    <a routerLinkActive="active-nav" class="nav-link" aria-current="page">About</a>
                </li>
                <li class="nav-item" routerLink="/skills">
                    <a routerLinkActive="active-nav" class="nav-link" aria-current="page">Skills</a>
                </li>
                <li class="nav-item" routerLink="/experience">
                    <a routerLinkActive="active-nav" class="nav-link" aria-current="page">Experience</a>
                </li>
                <li class="nav-item" routerLink="/work">
                    <a routerLinkActive="active-nav" class="nav-link" aria-current="page">Work</a>
                </li>
            </ul>
        </div>
    </div>
</nav> -->



<button class=" btn btn-outline-dark " aria-expanded="false" aria-label="Toggle navigation" type="button"
    data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
    <i class="fa-solid fa-grip-lines"></i>
</button>

<div class="offcanvas offcanvas-start" tabindex="0" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">

        <nav data-bs-toggle="offcanvas" class="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample"
            class="navbar p-0  m-0 navbar-expand-lg  ">
            <div class="container-fluid">
               
              
                <div class="collapse navbar-collapse flex-column" id="navbarSupportedContent">
                    <div class="navbar-brand ">
                        <div class="side-img"></div>
                    </div>
                    <div class="about-me">
                        <h1 fw-5>Jackson Ford</h1>
                        <p> <span class="text-primary">UI/UX/Designer</span> in Philippines</p>
                    </div>
                    <ul class="navbar-nav flex-column mb-2 mb-lg-0 text-center">
                        <li class="nav-item" routerLink="/home">
                            <a routerLinkActive="active-nav" class="nav-link" aria-current="page">Home</a>
                        </li>
                        <li class="nav-item" routerLink="/about">
                            <a routerLinkActive="active-nav" class="nav-link" aria-current="page">About</a>
                        </li>
                        <li class="nav-item" routerLink="/skills">
                            <a routerLinkActive="active-nav" class="nav-link" aria-current="page">Skills</a>
                        </li>
                        <li class="nav-item" routerLink="/experience">
                            <a routerLinkActive="active-nav" class="nav-link" aria-current="page">Experience</a>
                        </li>
                        <li class="nav-item" routerLink="/work">
                            <a routerLinkActive="active-nav" class="nav-link" aria-current="page">Work</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>