<nav class="navbar bg-light p-0 m-0 navbar-expand-lg">
    <div class="container-fluid flex-column">
        <!-- Navbar Toggler for Small Screens -->
        <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasExample" aria-controls="offcanvasExample" aria-label="Toggle navigation">
            <i class="fa-solid fa-grip-lines"></i>
        </button>

        <!-- Navbar Content for Large Screens -->
        <div class="collapse navbar-collapse d-none d-lg-flex flex-column text-center" id="navbarSupportedContent">
            <div class="navbar-brand">
                <div class="side-img"></div>
            </div>
            <div class="about-me">
                <h1 fw-5>Jackson Ford</h1>
                <p> <span class="text-primary">UI/UX/Designer</span> in Philippines</p>
            </div>
            <ul class="navbar-nav flex-column mb-2 mb-lg-0">
                <li class="nav-item">
                    <a routerLink="/home" routerLinkActive="active-nav" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/about" routerLinkActive="active-nav" class="nav-link">About</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/skills" routerLinkActive="active-nav" class="nav-link">Skills</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/experience" routerLinkActive="active-nav" class="nav-link">Experience</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/work" routerLinkActive="active-nav" class="nav-link">Work</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Offcanvas Sidebar for Small Screens -->
<div class="offcanvas offcanvas-start d-lg-none" tabindex="-1" id="offcanvasExample"
    aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div class="navbar-brand">
            <div class="side-img m-auto"></div>
        </div>
        <div class="about-me text-center">
            <h1 fw-5>Jackson Ford</h1>
            <p> <span class="text-primary">UI/UX/Designer</span> in Philippines</p>
        </div>
        <ul class="navbar-nav flex-column mb-2 mb-lg-0 text-center">
            <li class="nav-item">
                <a routerLink="/home" routerLinkActive="active-nav" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
                <a routerLink="/about" routerLinkActive="active-nav" class="nav-link">About</a>
            </li>
            <li class="nav-item">
                <a routerLink="/skills" routerLinkActive="active-nav" class="nav-link">Skills</a>
            </li>
            <li class="nav-item">
                <a routerLink="/experience" routerLinkActive="active-nav" class="nav-link">Experience</a>
            </li>
            <li class="nav-item">
                <a routerLink="/work" routerLinkActive="active-nav" class="nav-link">Work</a>
            </li>
        </ul>
    </div>
</div>
