<section class="px-5">
    <div class="d-flex justify-content-center align-items-center">
        <div class="row">
            <!-- <div class="col-md-1"></div> -->
            <div class="col-md-10 offset-1">
                <div>
                    <h5 class="text-muted pt-3">MY SPECIALTY</h5>
                    <h4 class="py-4">MY SKILLS</h4>
                    <p>
                        The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild
                        Question Marks and devious Semikoli, but the Little Blind Text didn’t listen. She packed her
                        seven versalia, put her initial into the belt and made herself on the way.
                    </p>
                </div>
                <app-progress-bar></app-progress-bar>
            </div>
        </div>
    </div>
</section>