section {
    padding-top: 50px;

    h5 {
        letter-spacing: 4px;
    }

    h4 {
        font-size: 2em;
        letter-spacing: 7px;
        font-weight: 900;
    }

    p {
        font-family: 'Quicksand', Arial, sans-serif;
        font-weight: 100;
        line-height: 2.7;
        padding-right: 50px;
        color: #000000b3;


    }

  





}