<section class="px-5">
    <div>
        <div class="row">
            <!-- <div class="col-md-1"></div> -->
            <div class="col-md-10 offset-1">
                <div>
                    <h5 class="text-muted pt-3">EXPERIENCE</h5>
                    <h4 class="py-4">WORK EXPERIENCE</h4>
                </div>

                <div class="line">
                    
                </div>
                <div>
                    
                    <app-experience-card></app-experience-card>
                </div>

            </div>
        </div>
    </div>
</section>